@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*Html Default values*/
* {
	margin: 0;
}

/*declaring root variables*/

:root {
	--primary-color: #1F2937;
	--primary-color-lite:#1f29371f;
	--link-hover: #4c678d;
	--font-white:whitesmoke;
	--font-head: 3vw;
	--font-content:2vw;
	
}

body {
	font-family: 'Raleway', sans-serif;
}

/*container Property*/

.container {
	padding: 0vw 0vw;
	max-width: 100%;
	height: auto;
}/*
.container-center {
	max-width: 600px;
	margin: auto;

}
*/
/*navigation panel section */

.navbar {
	/*
	position: relative;
	background-color: var(--primary-color);
	color:var(--font-white);
	padding: 1vw;
	border-bottom-left-radius: 1vw;
	border-top-right-radius: 1vw;
	max-width: 100%;
	height: auto;*/
	display: flex;
	justify-content: space-between;
	background-color: var(--primary-color);
	align-items: center;
	color: var(--font-white);

}

/*Brand-Name*/
.sitename{	
	font-size: 1.5rem;
	text-decoration: none;
	color: inherit;
	margin: .5rem;
}

.site-refresh{
	text-decoration: none;
	color:var(--font-white);
}

.-inverted {
	color: red;
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li{
	list-style: none;
}

.navbar-links li a{
	text-decoration: none;
	color: var(--font-white);
	padding: 1rem;
	display: block;
}

.navbar-links li:hover{
	background-color: var(--link-hover);
}

/* defined properties for the hamburger menu*/

.toggle-button{
	position: absolute;
	top: 0.75rem;
	right: 1rem;
	display:none;					
	flex-direction: column;
	justify-content: space-between;
	width: 31px;
	height: 21px;
}

/*properties of the bars*/

.toggle-button .bar{
	height: 3px;
	width: 100%;
	background-color: var(--font-white);
	border-radius: 10px;
}


/*
.navbar .listPosition{
	font-size:20vm;
	text-align: right;
}

.link-active {
    font-weight: bold;
}



.sitename {
	font-size: 3vw;
	text-decoration: none;
	color: inherit;
}


.list-noBullets {
	list-style: none;
}

.listInline {
	display: inline;
	padding: 0vw 0.5vw;
}

.nav-Link {
	box-sizing: border-box;
	text-decoration: none;
	padding: 0.5vw 1vw;
	color: var(--font-white);
	
}
.nav-Link:hover{
	color: var(--link-hover);
}
*/

/*_______________________________________________________________________________________________________________________________*/

/*Header section*/
.hero-header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/assets/header_bg.jpg);
	background-position: 0vw;
	background-repeat: no-repeat;
	background-size: cover;
	height:50vw;
	display: flex;
	justify-content: left;
	align-items: center;
}
.bg_name{
	position: relative;
	background: rgba(255,255,255,0.2);
	padding: 0 0 0 3vw;
	
	/*text-align:left;
	font-size: 2rem;
	justify-content: center;
	font-weight: bolder;
	color: whitesmoke;
	margin-top: -2rem;
	position: relative;
	transform: translateY(-14rem);
	margin-bottom:-2.5rem;*/
}

/*_______________________________________________________________________________________________________________________________*/

/*sections*/

.section{
	
	display: block;
	padding: 2rem;
	
}

.title-logo-img{
	display: block;
	max-width: 50vw;
	margin: auto;
	text-align: center;
	justify-content: center;
}
.ow{
	background-color:var(--primary-color-lite);
}

h1{
	padding-top: 2rem;
	text-align: center;
	font-size: var(--font-head) ;
	
}
p{
	padding-top: 1rem;
	text-align: center;
	font-size: var(--font-content);
}

/*_______________________________________________________________________________________________________________________________*/

/** footers **/

.footer {
   /** background-color: var(--primary-color);**/
    padding: 2rem 1rem;
    text-align: center;
    color:var(--primary-color);
	border:1vw;
	
}
.footer-content-head {
    font-weight: bolder;
	font-size: large;
	padding-bottom: 1vw;
}

.footer .link {
	text-decoration: none;
    color:black;
}

.footer ul {
    padding-inline-start: 0vw;
}

.footer-sm-icon {
	width: 4vw;
}

.footer-ico{
	padding-bottom: 1vw;
}

.footer-header {
    font-weight: bolder;
    font-size: large;
}
/*_______________________________________________________________________________________________________________________________*/

/*responsive hamburger menu*/


/*media query : allows us to say when a certain conditions are met 
run the code inside her if not then don't. */

@media ( max-width:600px){
	.toggle-button{
		display: flex;
	}

	.navbar-links{
		display: none;
		width: 100%;
	}

	.navbar{
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-links ul{
		width: 100%;
		flex-direction: column;
	}
	.navbar-links li{
		text-align: center;
	}
	.navbar-links li a{
		padding:0.5rem 1rem ;
	}

	.navbar-links.active{
		display: flex;
	}